@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root{
    --varColor:#3A3539;
    --varBack:#eeecee;
    --varLetra:white;
    }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    background: radial-gradient(ellipse at bottom, #5091DD 0%, #030617 100%);  
}

.title h1{
    padding: 20px 0;
    text-align: center;
    font-size: 2.9em;
    text-transform: uppercase;
    color: #fff;
}

.contenedor-grid {
    width: 90%;
    max-width: 1000px;
    margin: 1.6em auto;
    display: grid;
    gap: 1.2em;
    grid-template-columns:repeat(5, 1fr);
}

.contenedor-grid>.header,
.contenedor-grid>.content, .contenedor-grid>.sidebar, .contenedor-grid>.footer, .contenedor-grid>div {
    padding: 20px;
    border:none;
}


.contenedor-grid>.header, .contenedor-grid>.footer {
    grid-column: 1/6;
    background-color: #1e272e;
    color: #ffffff;
}

.contenedor-grid>.content {
    grid-column: span 3;
    grid-row: span 4;
}

.contenedor-grid>.sidebar {
    grid-column: span 2;
    grid-row: span 4;
    background: #485460;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.sidebar img {
    display: block;
    width: 100%;
    margin-top: 5px;
}

.content>.article {
    background: #808e9b;
    padding: 10px;
    margin-top: 5px;
    color: #dfe6e9
}

.content .article h1,
.content .article p {
    padding: 5px;
}

.contenedor-grid>.related-post {
    background: #2d3436;
    color: #ffffff;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}

.contenedor-grid>.related-post:hover {
    cursor: pointer;
    color: #b32424;
    background: #ffffff;
}

  
.contenedor-Formulario{
    width: 100%;
    grid-column: span 5;
    
}

.content-form{
  text-align: center;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.form h2{
  font-size: 24px;
  color: var(--varLetra);
}


.form input, select{
    inline-size: 100%;
    border:1px solid var(--varColor) ;
    box-sizing: border-box;
    color:white;
    background-color:#251F24 ;
    border-radius: 8px;
    padding-inline: 16px;
    padding-block: 12px;
    color:var(--varLetra);
    font-size: 16px;
    margin-block-end:24px
}

.form input[type="submit"]{
  background: #157EFB;
  border: none;
}

.form label{
    color: var(--varLetra);
    font-size: 18px;
}

textarea{
  inline-size: 100%;
  border-radius: 5px;
  display: block;
  margin-bottom: 10px;
}