
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
}

.contenedor {
   
    width: 100%;
    margin: auto;

    /* Flex*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

header{
    background-color: rgb(14, 41, 58);
    width: 100%;
    padding: 20px;

    /*Flex*/
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-direction: row;
}

#logoPage{
   width: 50px;
   vertical-align: top;
}

header .logo {
	color:#fff;
	font-size:30px;
}

header .logo a{
	color:#fff;
	text-decoration: none;
    line-height: 50px; /*Alineacion segun el tamaño de la imagen */
}

header nav{  /* un flex dentro dentro de otro*/
   width: 30%;

   /*Flex*/
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
}

header nav a{
    background: "c0392b";
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 8px;
    
    /**Flex -grow*/
    flex-grow: 1;
}

header nav a:hover{
    background: #e74c3c;
}

main{
 
    padding: 20px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 70%;
   
}

main article{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #000;
}

article ul{
    margin-left: 30px;
}

aside{ /*Elemento Padre e Hijo*/
	padding:20px;
    margin-top: 30px;
    /*Flex*/
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 30%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
}


#widget1 {
    
	height:400px;
	margin:10px;
    background-image: url('https://res.cloudinary.com/db9wh5uvt/image/upload/v1625655763/1570939e9f814bec82c668279513c94f_BANDEJA-PAISA_708_600_grvumx.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}

#widget2 {
	height:200px;
	margin:10px;
    background-image: url('https://i.pinimg.com/originals/37/69/03/3769039ecf1c49f1e2b54825e1a12bc1.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}



footer {
	background:rgb(14, 41, 58);
    width: 100%;
    padding: 20px;

    /* Flex*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	
}

footer .links {
	display:flex;
	flex-wrap:wrap;
}

footer .links a {
	flex-grow:1;
	color:#fff;
	padding:10px;
	text-align: center;
	text-decoration:none;
}

footer .links a:hover {
	background:#E74C3C;
}

footer .social {
	background:#e67e22;
}

footer .social a {
	color:#fff;
	text-decoration: none;
	padding:10px;
	display: inline-block;
}

@media screen and (max-width: 800px) {
	.contenedor {
		flex-direction:column;
	}

	header {
		flex-direction:column;
		padding:0;
	}

	header .logo {
		margin:20px 0;
	}

	header nav {
		width: 100%;
	}

	aside {
		flex-direction:row;
		flex:0;
	}

	aside .widget {
		flex-grow:1;
	}
}

@media screen and (max-width: 600px) {
	aside {
		flex-direction:column;
	}

	footer {
		justify-content:space-around;
	}
}